<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    {% load static %} {% load crispy_forms_tags %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Shot Clock</title>
  </head>
  <body>
    <div class="centered-column">
      <div class="form-label">
        <form method="POST" action="/">
          {% csrf_token %} {{form|crispy}}
          <br />
          <input class="btn btn-primary sub" type="submit" name="Enter Info" />
        </form>
      </div>
      <br />
      {% for input in inputs %}
      <div class="form-text row-element">
        <a href="{% url 'view_player' input.id%}" class="btn btn-info">View</a>
        <a href="{% url 'delete_player' input.id%}" class="btn btn-danger"
          >Delete</a
        >
        <span
          >{{input.player_name}} · {{input.season}} {{input.season_type}}</span
        >
      </div>
      {% endfor %}
    </div>
  </body>
</html>
